header{
    
    font-size: 20px;
    font-weight: 700;
    padding-top: 2%;
    margin-right: 5%;
    
}
.opt-1{
    margin-left: 2%;
}
.opt-2{
    text-align: right;
}
.optional{
    text-decoration: none;
    padding: 15px;
    
}
body{
    font-family: 'STIX Two Math', serif;
    margin: 0;
}
section{
    display: flex;
}
h1{
    font-size: 50px;
    color: gray;
}
.blue{
    color:blueviolet ;
}
.button{
    text-decoration: none;
}
.half-width img{
    width: 60%;
    margin-left: 30%;
}
.half-width{
    margin-left: 10px;
    padding: 5%;
}
.half-width p{
font-size:25px ;
color: darkgrey;
}
.body-sec{
    background-image: url(images/Frame\ 57.jpg);
    margin-bottom: 5%;
    background-repeat: no-repeat;
}
.images img{
    width: 20%;
    margin-left: 10%;
    margin-top: 4%;
    margin-bottom: 0%;
}
.button{
    background-image: linear-gradient(blue,rgb(6, 124, 167));
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.about {
    text-align: justify;
    margin-right: 10%;
}
.about p{
    font-size: 20px;
}
.head{
    text-align: center;
}

.box img{
    width: 80%;
    margin: 5%;
}
.box{
    width: 300px;
    margin-left: 5%;
    box-sizing: border-box;
    box-shadow: 6px 10px 25px black;
    border-radius: 5%;
}
.body{
    padding: 5px;
}
.body h2{
    text-align: center;
}
.body p{
    padding: 10%;
}
.head p{
font-size: 20px;
margin-bottom: 5%;
}
#recipie{
    margin-left: 15%;
}
footer{
    background-color: black;
    color: gray;
    text-align: center;
    margin-top: 5%;
    padding: 5%;
    width: 100%;
}
footer p{
    color: white;
}